.card {
    width: 32.5rem;
    height: 40.625rem;
    background-color: $white;
    border-radius: 1.25rem;
    box-shadow: 0px 0px 31px -7px #000000;

    &--small {
        width: 25.3125rem;
        height: 31.5625rem;
        // margin: 5.5188rem;
        // margin-top: 0;
    }

    &__content {
        width: 95%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__headers {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        color: $company-blue;
    }

    &__admin-set-active {
        position: absolute;
        top: 0.3125rem;
    }
}