.header {
    width: 100%;
    height: 9.6875rem;
    background-color: $white;
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__container {
        width: 82%;
        height: 17.5rem;
        display: flex;
        align-items: center;
    }

    &__content {
        width: 95%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        width: 30%;
        display: flex;
    }

    &__center {
        width: 30%;
        display: flex;
        justify-content: center;
    }

    &__right {
        width: 30%;
        display: flex;
        justify-content: flex-end;
    }

    &__title {
        color: $company-blue;
    }

    &__button-group {
        width: 60%;
        display: flex;
        justify-content: flex-end;
    }

    &__button {
        border: 0.125rem solid $company-blue;
        background: none;
        padding: none;
        color: $company-blue;

        &:hover {
            background-color: $company-blue;
            color: $white;
            border-color: $confirm-green;
            box-shadow: 0 0 2rem -0.1875rem #6FFC5C;
        }

        &--logout {
            margin-left: 0.3125rem
        }
    }

    &__hamburger-button {
        width: 5rem;
        height: 5rem;
        background: none;
        border: none;
        padding: none;
        cursor: pointer;
    }

    &__hamburger {
        transition: opacity 1.5s ease;

        &:hover {
            opacity: 0.7;
            transition: all 0.3s ease;
            box-shadow: 0 0 2rem -0.1875rem #44B8FC;
        }
    }
}