.quiz-question {
    &__modal-container {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center
    }

    &__modal {
        width: 67.0625rem;
        height: 37.75rem;
        background-color: $white;
        border-radius: 1.875rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &--top {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--bottom {
            width: 100%;
            height: 45%;
        }
    }

    &__modal-header {
        width: 95%;
        height: 9%;
        display: flex;
        justify-content: flex-end;
    }

    &__content {
        width: 90%;
        height: 85%;
    }

    &__question {
        color: $soft-grey;
        width: 100%;
        height: 100%;
    }

    &__answers {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5%;
    }

    &__answer {
        background-color: $white;
        font-size: 1.8125rem;
        border: 0.1875rem solid $company-blue;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: rgba(0, 102, 161, 0.1);
        }
    }

    &__admin-buttons {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
    }

    &__admin-button {
        border: none;
        background-color: #0066A1;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        &:hover {
            background-color: rgba(0, 102, 161, 0.6);
            box-shadow: 0 0 2rem -0.1875rem #6FFC5C;
        }
    }

    &__admin-edit-input {
        &--question {
            width: 100%;
            height: 80%;
            font-size: 1.25rem;
            text-align: center;
            overflow: hidden;
            overflow-y: auto;
            border: 0.25rem solid $company-blue;
            border-radius: 0.625rem;
        }
    }
}